*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
.header{
    width: 1930px;
    height: 125px;
    position: relative;
    top: 1px;
    left: -7px;
    background: linear-gradient(90deg, rgba(0, 43, 69, 0.9) 100%, rgba(0, 43, 69, 1) 0%);
}
.logo{
    position: absolute;
    top: 37px;
    left: 152px;
    cursor: pointer;
}
.navLocation{
    position: relative;
    width: 181.15px;
    height: 58.37px;
    top: 34px;
    left: 363.77px;
}
.yandex{
    color:#FFFFFF;
    position: static;
    width: 93px;
    height: 17px;
    top: 34px;
    left: 425.48px;
    font-family: Yandex Sans Display !important;
    font-size: 14px !important;
    font-weight: 700!important;
    line-height: 17px!important;
    letter-spacing: 0em!important;
    text-align: left;

}
.imgLocation{
    /* width: 56.96px;
    height: 56.96px; */
    cursor: pointer;
}
.rate{
    width: 86.44px;
    height: 18.83px;

}
.numberRate{

    color:#827F7F;
    width: 31px;
    height: 27px;
    font-family: 'Yandex Sans Display'!important;;
    font-size: 22px!important;
    font-weight: 700!important;
    line-height: 27px!important;
    letter-spacing: 0em!important;
    text-align: left;
}
.otziv{
    color: #ffff;
    width: 85px;
    height: 11px;
    top: 81.37px;
    left: 425.48px;
    font-family:'Yandex Sans Display' !important;
    font-size: 9px!important;
    font-weight: 400!important;
    line-height: 11px!important;
    letter-spacing: 0em!important;
    text-align: left!important;
}
.panner{
    position: absolute;
    color: #ffff;
    width: 231px;
    height: 49px;
    top: 39px;
    left: 981px;
    font-family: Open Sans !important;
    font-size: 14px!important;
    font-weight: 700!important;
    line-height: 19px!important;
    letter-spacing: 0em!important;
    text-align: left!important;
}
.pannerSpan{
    font-family: Playfair Display SC !important;
    font-size: 14px!important;
    font-weight: 400!important;
    line-height: 18.66px!important;
    letter-spacing: 0em!important;
    text-align: left!important;
}
.numberPhone{
    color: #ffff;
    position: absolute;
    width: 176px;
    height: 27px;
    top: 50px;
    left: 1393.31px;
    font-family: Open Sans !important;
    font-size: 20px!important;
    font-weight: 700!important;
    line-height: 27px!important;
    letter-spacing: 0em!important;
    text-align: left!important;
}
.button{
position: absolute;
width: 183.48px;
height: 49.08px;
top: 39px;
left: 1589px;
padding: 15.04px 26.74px 15.04px 26.74px;
display: flex;
justify-content: center;
align-items: center;
gap: 8.36px;
color: #FFFFFF;
background-color: transparent;
border: 0.84px solid #FFFFFF;
font-family: 'Open Sans'!important;
font-size: 13.7px!important;
font-weight: 400!important;
line-height: 19px!important;
letter-spacing: 0em!important;
text-align: center!important;
text-transform: uppercase!important;
cursor: pointer;
transition:  0.3s ease-in-out;
}
.button:hover{
    scale: 1.02;
    color:  #F2A22E;
    border: 0.84px solid#F2A22E;
}
.button-active{
    position: absolute;
    width: 183.48px;
    height: 49.08px;
    top: 39px;
    left: 1589px;
    padding: 15.04px 26.74px 15.04px 26.74px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.36px;
    color:#011A2A;
    background-color: transparent;
    border: 0.84px solid #011A2A;
    font-family: 'Open Sans'!important;
    font-size: 13.7px!important;
    font-weight: 400!important;
    line-height: 19px!important;
    letter-spacing: 0em!important;
    text-align: center!important;
    text-transform: uppercase!important;
    cursor: pointer;
    transition:  0.3s ease-in-out;
    }
 