.mainCards_1,.mainCards_2,.mainCards_3,.mainCards_4{
position: absolute;
width: 786px;
height: 436px;
}

.cards{
    padding: 20px 0px 0px 55px;
    position: absolute;
    width: 587.84px;
    height: 436px;
    top: 0px;
    right: 0;
    border: 1px;
    background: #FBF6EF;
    color: #000000;
    border: 1px solid #000000;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.cards h1 {
    color: #002B45;
    width: 405px; 
    height: 73px;
    font-family: Open sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 30.72px;
    letter-spacing: 0em;
    margin-top: 40px;
    
}
.cards h1 span{
    color: #002B45;
    font-family: Open sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.72px;
    letter-spacing: 0em;
}
.blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 401px;
    height: 63px;
    border-radius: 6px;
    
}
.blocks h1{
    color: #002B45;
    width: 383px;
    height: 73px;
    font-family: Open sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30.72px;
    letter-spacing: 0em;
    
}
.blocks h1 span{
    color: #002B45;
    font-family: Open sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.72px;
    letter-spacing: 0em;
}
.imagesContaine{
    position: absolute;
    width: 287.28px;
    height: 336px;
    top: 9%;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 5;
}
.imagesContaine img{
}
.footer{
    position: absolute;
    width: 287.28px;
    height: 80px;
    bottom: -27px;
    left: 0;
    background: #001623;
}
.dlina h1{
    color: #7C7C7C;
    width: 390px;
    height: 22px;
    font-family: Open sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.dlina h1 span {
    color:#7C7C7C;
    font-family: Open sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.buttons .buttons_1{
    width: 161px;
    height: 58px;
    padding: 18px 32px 18px 32px;
    gap: 10px;
    background: #002B45;
    color: #FBF6EF;
    text-transform: uppercase;
    display: block;
    font-family: Open sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
cursor: pointer;transition:  0.3s ease-in-out;

}
.buttons_1:hover{
    background: #015B91;

}
.buttons_1-active{
    background: #011A2A;
    width: 161px;
    height: 58px;
    padding: 18px 32px 18px 32px;
    gap: 10px;
    color: #FBF6EF;
    text-transform: uppercase;
    display: block;
    font-family: Open sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;transition:  0.3s ease-in-out;
}
.buttons .buttons_2{
    width: 229px;
    height: 58px;
    padding: 18px 32px 18px 32px;
    gap: 10px;
    background: #FBF6EF;
    color:  #002B45;
    text-transform: uppercase;
    display: block;
    border: 1px solid #002B45;
    font-family: Open sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    cursor: pointer;transition:  0.3s ease-in-out;
}
.buttons_2:hover{
    color:  #F2A22E;
    border: 1px solid #F2A22E;
}
.buttons_2-active{
    width: 229px;
    height: 58px;
    padding: 18px 32px 18px 32px;
    gap: 10px;
    background: #FBF6EF;
    color:  #011A2A;

    text-transform: uppercase;
    display: block;
    border: 1px solid #011A2A;
    font-family: Open sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    cursor: pointer;transition:  0.3s ease-in-out;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerFooter{
    width: 253.09px;
    height: 54.42px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.numbers{
    width: 44.04px;
    height: 32px;   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numbers h1 {
    width: 40px;
    height: 26px;
    color: #FFFFFF;
    font-family: 'Lora' !important;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}
.numbers h1 span{
    font-family: Lora !important;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color:#797979;
}
.streliky{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.streliky img {
cursor: pointer;
}
.photos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 194.76px;
    height: 54.42px;
    overflow-x: auto;
    scrollbar-width: thin; /* Set the width of the scrollbar for Firefox */
    scrollbar-color: #f1f1f1 #888; /* Set the scrollbar color and thumb color for Firefox */
}

/* WebKit-based browsers (Chrome, Safari) */
.photos::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.photos::-webkit-scrollbar-track {
    width: 2px;
    background-color: #f1f1f1;
}
.photos::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}
.photos img{
cursor: pointer;
transition:  0.3s ease-in-out;
}
.photos img:hover {
    scale: 1.05;

}