.mani{
    background-color: #FBF6EF ;
    height: 405px;
}
.greeting{
    position: inherit;
    width: 1918px;
    top: 850px;
    left: 2px;
}
.greeting > img {
    position: absolute;
    top: 812px;
    left: 0;

}
.titleBody{
    color: #002B45;
    position: absolute;
    width: 381px;
    height: 43px;
    top: 951px;
    left: 514px;
    font-family: 'Lora' !important;
    font-size: 36px!important;
    font-weight: 700!important;
    line-height: 43px!important;
    letter-spacing: 0em!important;
    text-align: left!important;

}
.conCbody{
    display: flex;
    align-items: start;
    height: auto;
    gap: 66px;
    flex-wrap: wrap;
    position: absolute;
    top: 1060px;
    left: 530px;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 32px;

}
.card-body .typo{
    font-family:' Open Sans' !important;
font-size: 24px !important;
font-weight: 700 !important;
line-height: 33px !important;
letter-spacing: 0em !important;
text-align: left !important;

}
.typo span{
    font-family:' Open Sans' !important;
font-size: 24px !important;
font-weight: 400 !important;
line-height: 33px !important;
letter-spacing: 0em !important;
text-align: left !important;
}